/* General Page Styles */
body {
    /* Customized font-family */
    font-family: Verdana, Geneva, sans-serif;
    padding: 20px;
    /* Customized background color to match the text swatch */
    background-color: #e9ecef; 
}

/* SHARED STYLES: All boxes get these rules */
.swatch {
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    /* Customized border and added border-radius */
    border: 4px solid #1D3557; 
    border-radius: 15px;
    color: white; 
}

/* UNIQUE STYLES: Update the HEX codes below */

/* 1. Primary Color */
.primary {
    background-color: #E63946; 
}

/* 2. Accent Color */
.accent {
    background-color: #1D3557; 
}

/* 3. Text/Light Color */
.text {
    background-color: #F8F9FA; 
    color: black; 
}